{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<h1>My article :</h1><br>
<p>{{ articleTitle }}</p><br>
<p>{{ articleContent }}</p>
{% endblock %}
